<app-navbar title="Najlepsze cytaty"></app-navbar>
<div class="container q-container">
  <app-button 
  customClasses="btn-floating teal add-button" 
  (clickButton)="form.onSwitchForm()">
    <i class="material-icons">add</i>
  </app-button>
  <app-form #form (newQuotation)="onNewQuotation($event)"></app-form>
 
  <div class="row">
    <div class="col s8">
      <app-list 
      [quotes]="quotes" 
      (vote)="addVote($event.quote, $event.value)">
    </app-list>
    </div>

    <div class="col s4">
      <app-ranking [quotes]="bestQuotes()" title="Najlepsze"></app-ranking>
      <app-ranking [quotes]="worstQuotes()" title="Najgorsze"></app-ranking>
    </div>

  </div>
</div>
